#ani {
    transition: transform 0.3s ease; /* Smooth transition */
    transform: scale(1); /* Default scale */
    cursor: pointer; /* Pointer cursor on hover */
}
#ani:hover {
    transform: scale(1.1); /* Scale up on hover */
    
}
